
<h2>Fair Elections DC Action Hub</h2>
<div class="row" id="petition">
  <h3>Sign the Official Coalition Petition!</h3>
  <%= render 'petition' %>
</div>

<div class="row" id="letter">
  <h3>DC Residents: Send an E-mail to Your Councilmembers!</h3>
  <%= render 'letter' %>
</div>
