
<h2>Fair Elections DC Action Hub</h2>
<div class="row" id="petition">
  <h3>Sign the Official Coalition Petition!</h3>
  <h4>Become a Citizen Co-Sponsor of B21-0509, the Citizens Fair Election Program Amendment Act of 2015</h4>
  <%= render 'petition' %>
</div>

<div class="row" id="letter">
  <h3>DC Residents: Send an E-mail to Your Councilmembers!</h3>
  <%= render 'letter' %>
</div>
