<!-- <div class="col-md-12 letter-button">
  <button type="button" class="btn btn-info btn-lg" id="showLetter"><span class="glyphicon glyphicon-email"></span> E-mail Your Councilmembers</button>
</div> -->

<div class="col-md-12 col-xs-12" id="letterIntro">
  <div class="well text-justify">
    <p>The bill already has strong support in the Council and stands a real chance of passing this spring, but first it needs to make it through the Judiciary Committee. And to do that, we need a hearing on the bill.</p>
    <p>Using the form below, please take a moment to send an email your councilmembers and urge them to request a hearing in the Judiciary Committee.</p>
  </div>
</div>

<div class="col-md-12 col-xs-12">
  <link href='https://actionnetwork.org/css/style-embed-whitelabel.css' rel='stylesheet' type='text/css' />
  <script>window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');</script>
  <script src='https://actionnetwork.org/widgets/v2/letter/support-b21-0509-the-fair-election-program-amendment-act-of-2015?format=js&source=widget'></script>
  <div id='can-letter-area-support-b21-0509-the-fair-election-program-amendment-act-of-2015' style='width: '><!-- this div is the target for our HTML insertion -->
  </div>
</div>
