<div class="row" id="petition">
  <div class="well col-md-12 col-xs-12">
    <h2>Petition to the DC Council</h2>
    <h3>Sponsored by the DC Fair Elections Coalition</h3>
    <div class="text-left">
      <p>By passing a small donor empowerment bill in the District of Columbia, we can fight the influence of big money, empower our communities, and ensure every voter’s voice matters in our elections. These programs provide limited public matching funds to candidates who demonstrate robust public support and don’t accept large contributions or contributions from special interests or corporations.</p>

      <h4>Tell your Councilmember to stand up for our democracy by supporting B21-0509, the Citizens Fair Election Program Amendment Act of 2015, which will amplify the voices of small donors in our elections.</h4>
      <p>Dear Councilmember:</p>
      <p>We demand a government that is accountable to all of us, not just wealthy mega-donors and outside interests. I support a small donor empowerment program in the District, which will reduce the influence of big-money campaign donors and amplify the voice of everyday DC residents.</p>
      <p>With this legislation, candidates will be able to focus their attention on people like me to support their campaign, instead of wealthy donors. I urge you to support the creation of a small donor matching program in DC, and to be a leader in ensuring that our government is of, by, and for the people.</p>
    </div>
  </div>
</div>
