<div class="col-md-12 petition-button">
  <button type="button" class="btn btn-info btn-lg" id="showPetition">Show Petition Text</button>
</div>
<div class="col-md-12 col-xs-12" id="petitionDetail">
  <div class="well">
    <h2>Petition to the DC Council</h2>
    <h3>Sponsored by the DC Fair Elections Coalition</h3>
    <div class="text-justify">
      <p>We the undersigned support the enactment of a small donor campaign financing program in the District of Columbia that matches small contributions with limited public funds to candidates who voluntarily forgo large and corporate contributions. Such a system would fight the influence of big money, empower everyday D.C. residents, and make sure every voter’s voice matters in our elections.</p>
      <p>Our democracy works best when it lives up to the principle of one person, one vote, and when the strength of a citizen’s voice doesn’t depend on the size of their wallet.  Yet in the last few years, we have seen the voices of everyday citizens increasingly drowned out by a flood of big money, and elected officials at all levels of government become increasingly dependent on large donors and Super PAC backing.</p>
      <p>In the 2012 election, it took just the top 32 donors to Super PACs, giving an average of $9.9 million each, to contribute as much as all 3.7 million small donors to President Obama and Mitt Romney combined. Here in D.C., candidates for office too often must depend on wealthy donors who can give far more than the average D.C. resident can afford.</p>
      <p>Fortunately, there are solutions within reach that can be implemented in the District to reclaim our democracy from overdependence on big money. As the District becomes more affluent, it is critical that candidates are rewarded for focusing their campaign on city residents of all means. Small donor empowerment programs put voters back in the driver’s seat of our elections by matching contributions as small as $5 to candidates who qualify with limited public funds. This system would allow candidates relying on small donors to compete with big money candidates. Instead of dialing for dollars in search of the biggest checks, candidates could fund their campaigns by appealing to everyday constituents.</p>
      <p>The track record of small donor systems is impressive. In New York City, where small contributions are matched at a six-to-one ratio, small donors of all means have played an increasingly meaningful role in funding campaigns. For example, in the 2013 city council race, participating candidates got 61 percent of their contributions from small donations and matching funds. That year, 92 percent of candidates running in the primary participated in the program. The potential of such programs is one reason why other states and localities have adopted or are considering enacting them. Small donor public financing programs have been successful in Connecticut, Arizona, and Maine, and other cities like Los Angeles. In the fall of 2014, neighboring Montgomery County, Md., became the latest jurisdiction to create a small donor empowerment program.</p>
      <p>The problem of big money dominance is clear to DC residents, who have witnessed one campaign finance scandal after another. Polling has shown that Americans from across the political spectrum think that special interest groups, lobbyists, and campaign contributors have the most influence over how their representatives vote. It is time to demonstrate support for solutions to reclaim our democracy for the people. We urge you to stand up for the voices of your constituents by supporting the enactment of a small donor campaign financing program in the District of Columbia.</p>
    </div>
  </div>
</div>
<div class="col-md-12 col-xs-12">
  <link href='https://actionnetwork.org/css/style-embed-whitelabel.css' rel='stylesheet' type='text/css' />
  <script>window.yepnope || document.write('<script src="https://actionnetwork.org/includes/js/yepnope154-min.js"><\/script>');</script>
  <script src='https://actionnetwork.org/widgets/v2/petition/support-small-donor-democracy-in-dc?format=js&source=widget'></script>
  <div id='can-petition-area-support-small-donor-democracy-in-dc' style='width:100%'>
    <!-- this div is the target for our HTML insertion -->
  </div>
</div>
