<div class="row" id="about">
  <ul class="nav nav-tabs">
    <h4 class="nav-header">Sections:</h4>
    <li class="active"><a href="#problem-general">Big Money in America</a></li>
    <li><a href="#DC-problem">Big Money in DC</a></li>
    <li><a href="#examples">Fair Elections around the Country</a></li>
  </ul>

  <div class="col-md-12" id="problem-general">
    <h2>The Case for Small Donor Empowerment</h2>
    <h3>The Rising Tide of Big Money</h3>
    <p>One person, one vote: That’s how we’re taught elections in our democracy are supposed to work.

Candidates should compete to win our votes by revealing their vision, credentials and capabilities. We,

the people then get to decide who should represent us.</p>

    <p>Except these days there's another election: Call it the money election. And in the money election, most

people don’t have any say at all. Instead, a few super-wealthy individuals and corporations back the

candidates they think will raise enough money to run the kind of high-priced campaign it takes to win.</p>

    <p>Large campaign contributions – which few of us can afford to make – have undue influence over what

issues get debated, who gets to run for office, and too often who wins. Candidates for office who lack

connections to deep-pocketed donors have little hope of meeting the minimum threshold to be a viable

candidate. This negatively affects the democratic representation of communities without access to a

network of wealthy donors, which often includes including people of color, women, and young people.</p>

    <p>And after the Supreme Court's Citizens United decision in 2010, corporations and mega-donors have

gained even more sway in the money election, and are drowning out the voices of ordinary voters.

Citizens United and related cases allowed corporations and outside organizations to spend unlimited

amounts of money on elections, preventing us from being able to set reasonable limits on campaign

contributions in line with what an everyday citizen could afford.</p>

    <p>Since Citizens United, politicians have become increasingly dependent on a smaller share of the

population making larger and larger contributions. During the last presidential election in 2012, the top

32 donors to super PAC’s spent as much as every single small donor to Obama and Romney combined.

This means 32 mega-donors spent the same amount to influence the 2012 elections as 3.7 million

Americans. The picture in 2016 is no different, with <a href="http://www.nytimes.com/interactive/2015/10/11/us/politics/2016-presidential-election-super-pac-donors.html?_r=0" target="_blank">just 158 families</a> providing nearly half of all the

campaign contributions to candidates in the presidential election.</p>

    <p>The grossly disproportionate spending on elections from a small part of the population not only

undermines the political power of most Americans, it also distorts the priorities of candidates by making

fundraising from out-of-district big donors more important and securing the support of ordinary

constituents less important. The undemocratic role of big money is especially exclusionary for people of

color, who are severely underrepresented in this “donor class.” An unlimited money system forces

candidates to spend time courting those wealthy individuals and interests, rather than thinking about

the needs of their constituents.</p>

    <h3>Solution: Empowering Small Donors</h3>

    <p>The Supreme Court’s decision in Citizens United and related cases means we cannot dam the flood of big

money in our elections overnight. To comprehensively address this problem we need to pass a

constitutional amendment to finally allow for common-sense limits on big contributions. But there are

concrete steps we can take in the meantime that will help push back against the tide of big money by

strengthening the voices of and increasing participation among everyday Americans.</p>

    <p>While the Supreme Court has ruled that we cannot limit the amount of money wealthy individuals and

corporations can spend to influence elections, we can create a system that incentivizes candidates to

voluntarily reject large and corporate contributions and instead rely on small contributions to fund their

campaigns. Such a system serves the dual purpose of getting big and corporate money out of the

process while bringing more people in to the democratic process. Due to the current political gridlock in

Congress, more and more communities are taking matters into their own hands and taking on big

money in politics at the local and state levels.</p>

    <p>Small donor empowerment programs put voters back in the driver’s seat of our elections by matching

contributions as small as $5 to candidates at a 5:1 ratio to candidates who agree not to accept

contributions above $100 with limited public funds. This system would allow candidates relying on small

donors to compete with big money candidates. Instead of dialing for dollars in search of the biggest

checks, candidates could fund their campaigns by appealing to everyday constituents.</p>

    <p>The track record of small donor systems is impressive. According to a recent study in the Election Law

Journal, matching funds have increased the proportional role of small donors as well as the number of

small donors who participate in the system. In 2009, the year the match was increased to six-to-one, all

but two of the 51 winning city council candidates used the program, and between 1997 (when the

match was only 1:1) and 2009 (when it increased to 6:1), the small donor pool increased by 40%.  <a href="http://cfinst.org/Press/PReleases/12-05-14/Study_Public_Financing_Contributes_to_Greater_Diversity_of_Participation_in_NYC_Elections.aspx" target="_blank">A 2012

study</a> found that the racial and economic diversity of donors increased under the New York system,

making for a more engaged citizenry as well as a more representative democracy.</p>

    <p>Besides bringing more small donors into the system, these programs have helped candidates raise

significant amounts of money, changing their fundraising strategies away from chasing big checks and

towards chasing small donors. For example, in the 2013 city council campaign in New York City, small

donors were responsible for 61% of participating candidates’ funds (when the match is included). In

contrast, nonparticipating candidates got only 19% of their money from small donors, and 53% from

donors who gave $1,000 or more. So candidates are seeing that they can raise the money they need to

win without having to chase down $1,000 checks. The potential of such programs is one reason why

other states and localities are considering adopting them, including neighboring Montgomery County,

Md., Seattle, and Maine, which have all enacted or strengthened their  own small donor programs in

2014 and 2015.</p>

  <div class="col-md-12" id="DC-problem">
    <h2>The Problem</h2>
    <h3>Big Money Dominance in the District of Columbia</h3>
    <p>From the controversy over Mayor Bowser’s FreshPAC to former Mayor Vincent Gray’s ongoing campaign finance scandals, D.C. residents are tired of a system which plays less and less to the average voter.
      On issues like the Exelon merger and affordable housing, the voices of DC residents have too often been drowned out by the preferences of a set of powerful, wealthy donors.
      In 2014, residents experienced a multi-million dollar mayoral race with contributors to the mayoral race ranging from large out of state corporations like Comcast to prominent local businessmen such as Michael Glosserman, managing partner of real estate titan JBG, and Washington Nationals owner Ted Lerner.
      After her election, Mayor Bowser’s allies started a PAC that could solicit unlimited contributions, but the public outcry forced FreshPAC to shut down when it was revealed that many of its most generous donors were city contractors.
      Under D.C. law, corporations can even give directly to candidates’ campaigns, which is illegal at the federal level.
      In the most recent Mayoral campaign, less than 45% of contributors to either of the top two campaigns came from DC residents, and the average contribution was over $350, well more than everyday DC residents can afford.
    </p>
    <p>The Fair Elections program gives everyday D.C. residents the ability to support and elect candidates who are accountable to them, not super PAC donors or big-money campaign donors.
      It gives candidates the ability to run with the backing of people they wish to represent without relying on super PACs, wealthy donors, or money from outside the District.
      While we won’t eliminate big money overnight, we can dramatically reduce its influence and raise the importance of everyday D.C. residents in our political system.
    </p>
  </div>
  <div class="col-md-12" id="">
  </div>

</div>
