<div class="row" id="faq">
  <h2>Frequently Asked Questions</h2>

  <button class="btn btn-primary btn-lg"><%= link_to "Click to View Printable FAQs in New Window", asset_path("DC Citizen Fair Election FAQ.pdf"), :target => "_blank" %></button>
  <!-- <ul class="menu">
    <li><a href="#faq1">Why do we need small donor empowerment legislation in DC?</a></li>
    <li><a href="#faq2">How does small donor empowerment work?</a></li>
    <li><a href="#faq3">How effective are small donor empowerment systems?</a></li>
    <li><a href="#faq4">Who is eligible to receive matching funds?</a></li>
    <li><a href="#faq5">How does this program amplify the voices of small donors?</a></li>
    <li><a href="#faq6">How does this limit the influence of big money and special interests?</a></li>
    <li><a href="#faq7">Would this be a waste of taxpayer money?</a></li>
    <li><a href="#faq8">Won’t this just help fringe candidates get elected?</a></li>
    <li><a href="#faq9">What safeguards are in place to make sure the system works?</a></li>
  </ul> -->


  <div id="accordion" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Why do we need small donor empowerment legislation in DC?</a>
          </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Democracy works best when our representatives are focused on their constituents, rather than

dialing for dollars from large donors or courting the favor of special interests. In the District of

Columbia, candidates for office too often must depend on wealthy donors who can give far more

than the average D.C. resident can afford.</p>

          <p>The undemocratic role of big money is especially exclusionary for people of color, who are

severely underrepresented in the “donor class.” In the current campaign finance system, wealthy

donors making large campaign contributions can drown out the voices of everyday D.C.

residents. Small donor empowerment legislation would advance racial equality in our democracy

and promote government of, by, and for the people.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How does small donor empowerment work?</a>
          </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Campaign finance programs that empower small donors would fight the influence of big money,

empower everyday D.C. residents, make sure every voter’s voice matters in our elections and

promote racial justice. Small donor empowerment programs provide public matching funds to

campaigns for small contributions, allowing candidates that focus on seeking the broad support

of the public to compete with candidates who rely on a narrow set of large donors. In exchange

for receiving matching funds, candidates must forgo large contributions, and turn down money

from special interests.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How effective are small donor empowerment systems?</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>The track record of small donor systems is impressive. In New York City, where small

contributions are matched at a six-to-one ratio, small donors of all means have played an

increasingly meaningful role in funding campaigns. For example, in the 2013 city council race,

participating City Council candidates got 61% of their contributions from small donations and

matching funds. That year, 92 percent of candidates running in the primary participated.</p>

          <p>The demand for similar systems is growing from coast to coast, with successful ballot measures

creating and strengthening small donor empowerment programs in Maine and Seattle in 2015.

Montgomery County, Maryland adopted a similar program in 2014.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Who is eligible to receive matching funds?</a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Elections for Mayor, City Council, and Attorney General would be covered by the small donor

empowerment program. Candidates must demonstrate a robust level of public support to qualify

for the DC Citizen Fair Election program.</p>

<p>Specifically, candidates must prove their viability by hitting a threshold number, and dollar amount of small

contributions from $100. The threshold will vary depending on which office the candidate is

seeking:</p>

              <ul>
                <li>Mayor: 1,500 individuals adding up to $50,000</li>
                <li>Attorney General and Council Chair: 750 individuals adding up to $30,000</li>
                <li>At-large council seat: 500 individuals adding up to $15,000</li>
                <li>Ward seat: 150 individuals adding up to $5,000</li>
              </ul>
              <p>Qualifying contributions can only come from DC residents.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How does this program amplify the voices of small donors?</a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Contributions from small donors to participating candidates each cycle are matched with public

funds. To avoid subsidizing deep pocketed donors, only small-dollar contributions of $100 or

less are eligible for matching funds. To ensure that small donor candidates can compete, small

contributions will be matched five-to-one with limited public funds.</p>
                <p>The total amount of matching funds a candidate can receive is capped based on the average cost

of recent winning campaigns in the District of Columbia. A cap on the total amount of matching

funds available to each qualifying candidate will reign in the cost of the program while ensuring

participating candidates can be competitive. If a candidate hits the cap, he or she can continue

raising unmatched small contributions without being subject to a spending limit to stay

competitive with non-participating big money candidates.</p>
                <p>Upon qualifying for the program, candidates will receive an initial base grant in order to

jumpstart their campaign, in addition matching funds for small contributions they secure.

Candidates will receive 60 percent of the grant for the primary election and the remainder of the

grant if they make it to the general election.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How does this limit the influence of big money and special interests?</a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Candidates participating in the program cannot accept contributions larger than $100 in the

aggregate across the full election cycle from any entity or individual to ensure that D.C. residents

of all means can have a voice.</p>

                <p>Contributions from individuals living outside the District of Columbia are not eligible for

matching funds. Participating candidates will be barred from soliciting funds, appearing at a

fundraising event, or engaging in other fundraising activity for any outside groups making

independent expenditures.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Would this be a waste of taxpayer money?</a>
            </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
                <p>At little or no cost to taxpayers, this proposal will dramatically reduce the influence of big-

money campaign donors in D.C. The real way to save taxpayers’ money is to end giveaways to

big donors and government contractors. These political giveaways cost taxpayers far more than

the Fair Elections program would. And, it’d give elected officials more time to focus on the

needs of their constituents, instead of dialing for dollars or attending lobbyist fundraisers.</p>
                <p>In New York City, the public matching funds used in the 2013 elections, in which 92 percent of

candidates on the primary ballot participated, accounted for .06 percent of the city budget.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Won’t this just help fringe candidates get elected?</a>
            </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
                <p><strong>No.</strong> Voters in D.C. will have the final say about that. In the states and localities with similar laws

in place, it hasn’t happened. The program requires that participating candidates demonstrate

robust levels of public support and the ability to fundraise from small donors before receiving

any public funds. And, the current big-money system has certainly led to a fair number of out-of-

the-mainstream elected officials who are more responsive to a wealthy, unrepresentative donor

class rather than everyday people.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">What safeguards are in place to make sure the system works?</a>
            </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Strong, independent oversight and administration is critical to a well-functioning matching

program. The DC Citizens Fair Election Program Amendment Act establishes the Citizens Fair

Election Oversight Office within the Board of Ethics and Government Accountability to

administer the program.</p>
            </div>
        </div>
    </div>
  </div>
</div>
