<div class="org-edit-page">
  <h2>Edit Organization: <%= @organization.name %></h2>
  <h3><%= link_to "Back to Coalition List", organizations_path %></h3>

  <div class="form">
    <%=render 'neworg' %>
  </div>
</div>
