<div class="org-new-page">
  <h2>Add Organization to Coalition List</h2>
  <h3><%= link_to "Back to Coalition List", organizations_path %></h3>

  <div class="form">
    <%=render 'neworg' %>
  </div>

</div>
